body {
    background-image: url("./IMG_0894.jpg"); background-size:cover; color: #ffffff;
    
}

#style-name {
    font-weight: bolder;
    color: #ffffff;
    background-color: 	#009999;
    border: 5px solid 	#009999;   
}

.float-left {
    float:left,
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    color: #009999;
}

.about-me {
    /* border: 2px solid green; */
    color: black;
}

img {
    /* border: 2px solid green; */
    padding: 5px;
}

/* p {
    border:2px solid red;
} */