body {
    background-image: url("./IMG_0894.jpg"); background-size:cover;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}

.form-control {
    border-radius: 0;
    }

.btn{
    border-radius: 0;
    background-color: #009999;
}



#top-name {
    font-weight: bolder;
    color: #ffffff;
    background-color: 	#009999;
    border: 5px solid 	#009999;
}

.float-left {
    float:left,
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    color: #009999;
    font-weight:bold
}

.about-me {
    /* border: 2px solid green; */
    color: black;
}

img {
    /* border: 2px solid green; */
    padding: 5px;
}

/* p {
    border:2px solid red;
} */

.content-style {
    background-color: white;
    color: black;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content:left;
    padding-bottom: 15px;
    width: 75%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top:5px solid darkcyan;
    text-align: center;
    color: lightslategray;
}