body {
    background-image: url("./IMG_0894.jpg"); background-size:cover;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}

/* makes square buttons and forms */
.form-control {
    border-radius: 0;
    }

.btn{
    border-radius: 0;
    background-color: #009999;
}

#top-name {
    font-size: x-large;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
    font-weight:900;
    color: black;
    background-color: 	#009999;
    border: 5px solid 	#009999;
    border-radius: 10px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: .27px;
    height: 3em;
    width: 175px;
}

h1 {
    color: #009999;
    font-weight:bold;
    padding-top: 15px;
}

img {
    height:300px;
    width:300px;/* border: 2px solid green; */
    padding: 5px;
}

.container {
    background-color: white;
    color: black;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 70px;
    justify-content:left;
    padding-bottom: 15px;
    width: 75%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top:5px solid darkcyan;
    text-align: center;
    color: lightslategray;
}
